yfinance>=0.2.40
praw>=7.7.1
requests>=2.31.0
beautifulsoup4>=4.12.3
lxml>=5.2.0
vaderSentiment>=3.3.2
python-dotenv>=1.0.1
pandas>=2.0.0
streamlit>=1.32.0
plotly>=5.20.0
streamlit-autorefresh>=1.0.1
flask>=3.0.0
psycopg2-binary>=2.9.9
gunicorn>=22.0.0
